

<h1>Contacto</h1>

<form action="enviarmensaje" method="post">
    <label for="">correo Electronico</label>
    <input type="email" name="email" required>

    <label for="mensaje">mensaje</label>
    <textarea name="mensaje" cols="30" rows="10" required></textarea>

    <button type="submit">enviar</button>
</form>